/*header start*/
header{
    width: 100%;
    height: 100px;
    position: absolute;
    color: #ccc;
    z-index: 999;
    line-height: 60px;
    color: #fff;
}
.menu-box p{
    letter-spacing: 1px;
}
.menu-box p img{
    width: 25px;
    margin-right: 12px;
}
.menu-box ul.nav{
    width: 100px;
}
.menu-box ul.nav>li{
    width: 80px;
    margin-bottom: 10px;
    background: #fff;
    border-radius: 3px;
    line-height: 26px;
    padding-left: 12px;
}
.menu-box ul.nav>li>a{
    padding: 0;
    color: rgb(102, 102, 102);
}
.header-logo-box img{
    width: 161px;
    height: 35px;
}
.header-login-box a{
    color: #fff;
}
/*header end*/

/*footer start*/
footer{
    padding:100px 0 40px 0;
    color: #666;
}
/*footer end*/

.search-nav a{
    color: #fff;
    font-size: 16px;
    font-family: "Hiragino Sans GB";
    text-decoration: none;
}
.search-nav .active a,.search-nav a:hover{
    border-bottom: 2px solid #fff;
    padding-bottom: 4px;
}
.clinical{
    background:#00aaac;
    position: relative;
    height: 200px;
    color: #fff;
}
.clinical-box{
    position: relative;
    top: 60px;
}
.clinical-box h2{
    margin: 60px 0 30px 0;
}
.target-box{
    width: 600px;
    padding: 60px 0;
    margin: 0 auto;
}

.target-data{
    height: 200px;
    padding-top: 40px;
    color: #333;
}
.target-data h2{
    font-size: 60px;
    font-family: "STHeiti";
    color: rgb(51, 51, 51);
}
.target-data p{
    color: #666;
}

.target-detail{
    font-size: 14px;
    font-family: "Hiragino Sans GB";
    color: rgb(51, 51, 51);
    line-height: 1.5;
    text-align: justify;
}

.clinical-type-box ul{
    margin: 0 auto;
    width: 600px;
}
.clinical-type-box ul li{
     width: 120px;
     background-color: rgb(243, 244, 245);;
 }

.nav-tabs > li > a{
    color: #333;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
    color:#fff;
    background: #00aaac;
    border-radius: 0;
}
.tests{
    width: 800px;
    margin: 0 auto;
    padding-bottom: 50px;
}
.tests h2{
    padding: 50px 0;
}
.tests .table strong{
    width: 150px;
    padding-top: 10px;
    font-size: 16px;
    display: block;
}
.tests .table td{
    color: #666;
}

.table > tbody > tr > td{
    border-top:none;
    border-bottom: 1px solid #ddd;
}
.case{
    background: #f3f4f5;
    padding: 50px 0;
}
.case h2 {
    font-size: 22px;
    font-family: "Hiragino Sans GB";
    color: rgb(0, 170, 172);
}
.case-detail{
    width: 800px;
    margin: 0 auto;
    padding: 50px 0;
}
.case-detail dt{
    font-size: 16px;
    font-family: "Hiragino Sans GB";
    color: rgb(0, 170, 172);
    line-height: 1.25;
}
.case-detail dd{
    padding: 10px 0;
    color: #666;
    line-height: 1.5;
}

