/*header start*/
header{
    width: 100%;
    height: 60px;
    position: absolute;
    color: #ccc;
    z-index: 999;
    line-height: 60px;
    color: #fff;
}
.menu-title{
    letter-spacing: 1px;
    cursor: pointer;
}
.menu-title img{
    width: 25px;
    margin-right: 12px;
}
.header-logo-box img{
    width: 161px;
    height: 35px;
}
.header-login-box a,.header-login-box a:hover{
    color: #fff;
}

.menu-box{
    top: 60px;
    left: 0px;
    padding-left: 15px;
    position: absolute;
    z-index: 10;
}
.menu-box ul.nav{
    width: 100px;
}
.menu-box ul.nav>li{
    width: 80px;
    margin-bottom: 10px;
    background: #fff;
    border-radius: 3px;
    line-height: 26px;
}
.menu-box ul.nav>li>a{
    padding: 0 0 0 12px;
    color: rgb(102, 102, 102);
}

.menu-box ul.nav>li.active,.menu-box ul.nav>li:hover {
    background-color: rgb(0, 170, 172);
}
.menu-box ul.nav>li.active a,.menu-box ul.nav>li:hover a {
    color: #fff;
    background-color: rgb(0, 170, 172);
}

/*header end*/

/*footer start*/
footer{
    padding:100px 0 40px 0;
    color: #666;
}
/*footer end*/

/*------- index start -------*/
.welcome{
    width: 100%;
    height: 600px;
    position: relative;
    overflow: hidden;
    background-image: -moz-linear-gradient( -33deg, rgb(0,212,175) 0%, rgb(1,127,216) 100%);
    background-image: -webkit-linear-gradient( -33deg, rgb(0,212,175) 0%, rgb(1,127,216) 100%);
    background-image: -ms-linear-gradient( -33deg, rgb(0,212,175) 0%, rgb(1,127,216) 100%);
}
.welcome-container{
    width: 100%;
    height: 600px;
    position: relative;
    top: 60px;
}

.swiper-container{
    width: 100%;
    height: 600px;
    position: relative;
    z-index: 10;
}
.swiper-slide,.welcome-more{
    color: #fff;
    z-index: 10;
    margin: 0 auto;
}
.welcome-container .carousel{
    width: 600px;
    padding-top: 80px;
    margin: 0 auto;
    z-index: 10;
}
.welcome-container .carousel-caption{
    left: 0;
    right: 0;
    padding: 0;
    top:0;
}
.welcome-container .carousel-inner{
    height: 400px;
}
.welcome-container .carousel h1{
    font-size: 35px;
    font-family: "Hiragino Sans GB";
}
.welcome-container h2{
    font-size: 36px;
    font-family: "Myriad Pro";
}

.welcome-container h6{
    text-align: justify;
    font-family: "Hiragino Sans GB";
    margin-top: 20px;
    line-height: 20px;
}

.welcome-more,.news-more{
    width: 300px;
    padding-top: 70px;
    margin: 0 auto;
}
.welcome-container .btn-more{
    width: 150px;
    padding: 4px;
    margin-top: 30px;
    border: 1px solid #fff;
    border-radius: 3px;
    font-size: 14px;
    font-family: "Hiragino Sans GB";
    color: #fff;
}
.welcome-container .btn-down-box{
    padding: 70px 0 30px 0;
}
.welcome-container .btn-down{
    color: #fff;
    padding: 0 0 0 1px;
    line-height: 22px;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.71);
    width: 20px;
    height: 20px;
    margin: 0 auto;
}
.welcome-container .carousel-indicators{
    bottom: -20px;
}
.welcome-container .carousel-indicators li{
    width: 26px;
    height: 2px;
    border-radius: 1px;
    margin: 0;
}
.welcome-container .carousel-indicators li.active{
    border-color: #00c6ff;
}
.guide>li{
    width: 20px;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.502);
}
.welcome-dot{
    width: 100%;
    height: 660px;
    position: absolute;
    top: -60px;
    z-index: 1;
}
.about-box .caption,.news-box .caption,.contact-box .caption{
    position: relative;
    width: 100%;
    -moz-opacity: 0;
    opacity: 0;
    -webkit-transition: all .5s ease-in-out 0s;
    -moz-transition: all .5s ease-in-out 0s;
    -ms-transition: all .5s ease-in-out 0s;
    -o-transition: all .5s ease-in-out 0s;
    transition: all .5s ease-in-out 0s;
    z-index: 10;
}
.about-box .caption,.news-box .caption,.contact-box .caption {
    -moz-opacity: 1;
    opacity: 1;
    width: 600px;
    margin: 120px auto 50px auto;
}
.about-box .caption h2,.news-box .caption h2,.contact-box .caption h2 {
    font-size: 40px;
    font-family: "FZDHTJW";
    color: rgb(51, 51, 51);
}

.about-box .caption h6,.news-box .caption h6,.contact-box .caption h6 {
    font-size: 16px;
    font-family: "MicrosoftYaHei";
    color: rgb(102, 102, 102);
    line-height: 1.5;
}

.about-box  ul.items {
    margin: 60px auto;
}

.about-box  ul.items li {
    width: 200px;
    height: 300px;
    margin: 0 8px;
    background: url(../images/business-bg.png) no-repeat 0px 400px;
    overflow: hidden;
    padding: 0;
}
.about-box  ul.items li a{
    color: #333;
}
.about-box  ul.items li i {
    display: block;
    position: relative;
    margin: 41px auto 0 auto;
    height: 69px;
}

.about-box  ul.items li.research i {
    width: 69px;
    background: url(../images/research.png) no-repeat center -15px;
}

.about-box  ul.items li.clinical i {
    width: 64px;
    height: 75px;
    background: url(../images/clinical.png) no-repeat center -15px;
}

.about-box  ul.items li.health i {
    width: 82px;
    background: url(../images/health.png) no-repeat center -15px;
}

.about-box  ul.items li.abroad i {
    width: 82px;
    height: 80px;
    background: url(../images/abroad.png) no-repeat center -10px;
}

.about-box  ul.items li u {
    display: block;
    position: absolute;
    width: 169px;
    height: 169px;
    margin-left: 22px;
    background: url(../images/circle-research.png) no-repeat;
    -webkit-transition: all .5s ease-in-out 0s;
    -moz-transition: all .5s ease-in-out 0s;
    -ms-transition: all .5s ease-in-out 0s;
    -o-transition: all .5s ease-in-out 0s;
    transition: all .5s ease-in-out 0s;
}

.about-box  ul.items li.clinical u {
    background: url(../images/circle-clinical.png) no-repeat;
}
.about-box  ul.items li.health u {
    background: url(../images/circle-health.png) no-repeat;
}
.about-box  ul.items li.abroad u {
    background: url(../images/circle-abroad.png) no-repeat;
}



.about-box  ul.items li u.cl {
    clip: rect(0px,169px,-10px,78px);
}

.about-box.active  ul.items li u.cl {
    clip: rect(0px,169px,169px,78px);
}

.about-box  ul.items li u.cr {
    clip: rect(169px,78px,169px,0px);
}

.about-box.active  ul.items li u.cr {
    clip: rect(0px,78px,169px,0px);
}

.about-box  ul.items li strong {
    display: block;
    margin-top: 70px;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
}

.about-box  ul.items li p {
    position: relative;
    top: 200px;
    color: White;
    font-family: Arial,"宋体";
    font-size: 12px;
    line-height: 20px;
    text-align: center;
}

.about-box  ul.items li:hover strong{
    font-size: 18px;
}

.about-box  ul.items li:hover {
    background-position: 0px 0px;
    -webkit-transition: all .5s ease-in-out .3s;
    -moz-transition: all .5s ease-in-out .3s;
    -ms-transition: all .5s ease-in-out .3s;
    -o-transition: all .5s ease-in-out .3s;
    transition: all .5s ease-in-out .3s;
}
.about-box  ul.items li:hover a{
    color: #fff;
}
.about-box  ul.items li:hover i {
    -webkit-transition: all .5s ease-in-out .4s;
    -moz-transition: all .5s ease-in-out .4s;
    -ms-transition: all .5s ease-in-out .4s;
    -o-transition: all .5s ease-in-out .4s;
    transition: all .5s ease-in-out .4s;
}

.about-box  ul.items li.research:hover i {
    background: url(../images/research.png) no-repeat center -116px;
}

.about-box  ul.items li.clinical:hover i {
    background: url(../images/clinical.png) no-repeat center -116px;
}

.about-box  ul.items li.health:hover i {
    background: url(../images/health.png) no-repeat center -113px;
}

.about-box  ul.items li.abroad:hover i {
    background: url(../images/abroad.png) no-repeat center -110px;
}

.about-box  ul.items li:hover u.cl {
    clip: rect(0px,169px,-10px,78px);
}

.about-box  ul.items li:hover u.cr {
    clip: rect(169px,78px,169px,0px);
}

.about-box  ul.items li:hover strong {
    color: White;
    -webkit-transition-delay: .4s;
    -moz-transition-delay: .4s;
    -ms-transition-delay: .4s;
    -o-transition-delay: .4s;
    transition-delay: .4s;
}

.about-box  ul.items li:hover p {
    top: 20px;
    -webkit-transition: all .3s ease-in-out .5s;
    -moz-transition: all .3s ease-in-out .5s;
    -ms-transition: all .3s ease-in-out .5s;
    -o-transition: all .3s ease-in-out .5s;
    transition: all .3s ease-in-out .5s;
}









.team{
    width: 100%;
    height: 500px;
    padding: 0;
    color: #fff;
    text-align: center;
    background: url(../images/bg_team.jpg) no-repeat;
    background-size: 100% 100%;
    background-origin: content-box;
}
.team-box .caption{
    padding: 20px 0;
}
.team-box li i{
    color: #84c2ed;
}
.team-box li img{
    width: 80px;
    height: 80px;
}
.team .leader{
    font-size: 40px;
    font-family: "MicrosoftYaHei";
    padding: 10px;
}
.team .leader-detail{
    width: 600px;
    text-align: justify;
    font-size: 13px;
    font-family: "MicrosoftYaHei";
    line-height: 1.5;
    padding-top: 30px;
    font-weight: normal;
}
.news{
    width: 100%;
    height: 800px;
    padding: 0;
    color: #fff;
    text-align: center;
    background: url(../images/bg-news.jpg) no-repeat;
    background-size: 100% 100%;
    background-origin: content-box;
}
.news-list-box li{
    width: 250px;
    height: 330px;
    background: #fff;
    font-size: 16px;
    font-family: "MicrosoftYaHei";
    color: rgb(51, 51, 51);
    line-height: 1.5;
    padding: 0;
    margin: 0 30px;
    overflow: hidden;
}
.news-list-box li:hover{
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 16px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.3);
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;}
}
.news-list-box li h6{
    padding:15px 20px 36px 20px;
    text-align: justify;
    line-height: 1.5;
}
.news-more .btn-more{
    width: 120px;
    padding: 2px;
    margin: 0 auto;
    border: 1px solid rgb(0, 170, 172);
    border-radius: 3px;
    font-size: 14px;
    color: rgb(0, 170, 172);
    font-family: "Hiragino Sans GB";
}

.contact{
    width: 100%;
    padding: 0;
    text-align: center;
    background: url(../images/bg_contact.jpg) no-repeat;
    background-size: 100% 100%;
    background-origin: content-box;
}
.contact-form{
    width: 600px;
    margin: 0 auto;
}
.contact-form .row{
    margin: 20px 0;
}
.contact-message{
    height: 50px;
    resize: none;
}
.btn-contact{
    width: 300px;
    line-height: 26px;
    border: 3px solid rgb(0, 170, 172);
    border-radius: 3px;
    background-color: rgb(0, 170, 172);
    color: #fff;
    font-size: 16px;
    font-family: "Hiragino Sans GB";
    margin-left: 15px;
    cursor: pointer;
}
.btn-contact:hover{
    color: #fff;
    text-decoration: none;
}
.btn-contact:hover{
    color: #fff;
}
.contact-box .address{
    width: 600px;
    margin: 0 auto;
    padding-left: 15px;
    color: #666;
    text-align: left;
}

/*------- index end -------*/

