/*header start*/
header{
    width: 100%;
    height: 60px;
    position: absolute;
    color: #ccc;
    z-index: 999;
    line-height: 60px;
    color: #fff;
}
.menu-title{
    letter-spacing: 1px;
    cursor: pointer;
}
.menu-title img{
    width: 25px;
    margin-right: 12px;
}
.menu-box ul.nav{
    width: 100px;
}
.menu-box ul.nav>li{
    width: 80px;
    margin-bottom: 10px;
    background: #fff;
    border-radius: 3px;
    line-height: 26px;
    padding-left: 12px;
}
.menu-box ul.nav>li>a{
    padding: 0;
    color: rgb(102, 102, 102);
}

.menu-box ul.nav>li.active,.menu-box ul.nav>li:hover {
    background-color: rgb(0, 170, 172);
}
.menu-box ul.nav>li.active a,.menu-box ul.nav>li:hover a {
    color: #fff;
    background-color: rgb(0, 170, 172);
}
.header-logo-box img{
    width: 161px;
    height: 35px;
}
.header-login-box a,.header-login-box a:hover,.menu-title a,.menu-title a:hover{
    color: #fff;
    text-decoration: none;
}
/*header end*/

/*footer start*/
footer{
    padding:100px 0 40px 0;
    color: #666;
}
/*footer end*/

.search-nav a{
    color: #fff;
    font-size: 16px;
    font-family: "Hiragino Sans GB";
    text-decoration: none;
}
.search-nav .active a,.search-nav a:hover{
    border-bottom: 2px solid #fff;
    padding-bottom: 4px;
}
.search{
    background:#00aaac;
    position: relative;
    height: 350px;
    color: #fff;
    overflow: hidden;
}
.search-box{
    position: relative;
    top: 60px;
    z-index: 100;
}
.search-box h2{
    margin: 60px 0 30px 0;
}
.search-text{
    width: 400px;
    background: #fff;
    margin: 0 auto;
    position: relative;
}
.search-text span{
    right: inherit;
    color: #ddd;
}
.search-text input{
    width: 100%;
    border: none;
    padding-left: 30px;
}
.target-box{
    padding: 60px 0;
    margin: 0 auto;
}

.target-data{
    height: 200px;
    padding-top: 40px;
    color: #333;
}
.target-data h2{
    font-size: 60px;
    font-family: "STHeiti";
    color: rgb(51, 51, 51);
    cursor: pointer;
}
.target-data h2:hover{
    font-size: 80px;
}
.target-data p{
    color: #666;
}

.target-detail{
    font-size: 14px;
    font-family: "Hiragino Sans GB";
    color: rgb(51, 51, 51);
    line-height: 1.5;
    text-align: justify;
}
.target-detail p{
    text-indent: 2em;
}
.partner-box .caption h6 {
    font-size: 16px;
    font-family: "MicrosoftYaHei";
    color: rgb(102, 102, 102);
    line-height: 1.5;
}
.partner-list-box{
    padding-top: 40px;
}
.partner-list-box img{
    width: 800px;
}

/* 螺旋图 start*/

.helix-box {
    margin-left: 100px;
    -webkit-transform:rotate(28deg);
    -ms-transform:rotate(28deg);
    transform:rotate(28deg);
    -webkit-transform-style:preserve-3d;
    transform-style:preserve-3d;
    opacity: 0.5;
}

.dblHelix {
    -webkit-perspective: 1000px;
    perspective: 1000px;
    white-space: nowrap;
}

.dblHelix > div {
    display: inline-block;
    position: relative;
    margin: 0 6px;
    width: 1px;
    height: 120px;
    box-shadow: 1px 1px 1px 1px hsla(183,100%,50%,1);
    background: hsla(182, 100%, 65%, 1);
    -webkit-animation: rot 5s linear infinite,
    chngCol 5s linear alternate infinite;
    animation: rot 5s linear infinite,
    chngCol 5s linear alternate infinite;
    -webkit-transition:all 1s ease;
    transition:all 1s ease;
}

.dblHelix > div::before,
.dblHelix > div::after {
    position: absolute;
    left: -2px;
    border-radius: 50%;
    width: 12px;
    height: 10px;
    background: hsla(183, 100%, 73%, 1);
    content: "";
}

.dblHelix > div::before {
    top: -2px;
}

.dblHelix > div::after {
    bottom: -2px;
}
@-webkit-keyframes rot{
    to {
        -webkit-transform: rotateX(360deg);
        transform: rotateX(360deg);
    }
}
@keyframes rot{
    to {
        -webkit-transform: rotateX(360deg);
        transform: rotateX(360deg);
    }
}

@-webkit-keyframes chngCol {
    to {
        background:hsla(182, 100%, 65%, 1);
    }
}

@keyframes chngCol {
    to {
        background: hsla(182, 100%, 65%, 1);
    }
}

/* 螺旋图 end*/
